
.calender-smartmi:before { content: '\e800'; } /* '' */
.customers-smartmi:before { content: '\e801'; } /* '' */
.dashboard-smartmi:before { content: '\e802'; } /* '' */
.edit-smartmi:before { content: '\e803'; } /* '' */
.general-smartmi:before { content: '\e804'; } /* '' */
.kpi-smartmi:before { content: '\e805'; } /* '' */
.leads-smartmi:before { content: '\e806'; } /* '' */
.locatemi-smartmi:before { content: '\e807'; } /* '' */
.notifications-smartmi:before { content: '\e808'; } /* '' */
.orders-smartmi:before { content: '\e809'; } /* '' */
.producs-smartmi:before { content: '\e80a'; } /* '' */
.projects-smartmi:before { content: '\e80b'; } /* '' */
.quotes-smartmi:before { content: '\e80c'; } /* '' */
.reports-smartmi:before { content: '\e80d'; } /* '' */
.settings-smartmi:before { content: '\e80e'; } /* '' */
.users-smartmi:before { content: '\e80f'; } /* '' */