// Theme Colors
$theme-colors: (
  primary: #5e77ff,
  success: #0cc27e,
  info: #1cbcd8,
  warning: #ff8d60,
  danger: #ff586b,
  secondary: #868e96,
  light: #f8f9fa,
  dark: #343a40
);

$smartMilightBlue: #a0a7c3;
$smartMiDarkBlue: #3b4367;
// Spacing

$spacer: 1.5rem;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: $spacer,
  4: (
    $spacer * 1.5
  ),
  5: (
    $spacer * 3
  )
) !default;

// Body
$body-bg: #f5f7fa;

// Fonts
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-content: "Poppins", sans-serif;

$font-size-root: 16px;

//Navbar
$navbar-padding-y: 0.75rem;
$navbar-padding-x: 0;
